<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Bassam Abdulrazzaq on 8/21/23, 10:51 PM
  ~  * Copyright (c) 2023 . All rights reserved.
  ~  * Last modified 8/20/23, 2:14 AM
  ~  */
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Enable Firebase analytics for `prod` builds -->
        <meta-data
            tools:replace="android:value"
            android:name="firebase_analytics_collection_deactivated"
            android:value="false" />
    </application>
</manifest>